<!-- <div>
  <a href="/">
    <img src="assets/WebsiteLogo.png" style="width:150px;padding-top: 10px;">
  </a>
</div> -->

<!-- <div class="row">
  <div class="col-md-6">
    <a href="/">
    <img src="assets/WebsiteLogo.png" style="width:150px;padding-top: 10px;">
   </a>
  </div>
  <div class="col-md-6">
    <a href="organization/search"> Apartment Manager Login </a>
  </div>
</div> -->

<div class="__row">
  <div class="__left">
    <a href="/">
      <img src="assets/WebsiteLogo.png" style="width:150px;padding-top: 10px;">
    </a>
  </div>
  <div class="__right">
    <a href="organization/search"> Apartment Manager Login </a>
  </div>
</div>