

.__row
{
    width:100%;
    padding-bottom: 65px;
}

.__left {
	font-size: 11.5pt;
	font-family: Georgia;
	display: inline;
    float:left;
}
.__right {
	margin: 0.5em 0 0.5em 0;
	padding: 0.5em 0 0.5em 10px;
	font-size: 12pt;
	font-family: Georgia;
	color: white;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	display: inline;
  float:right;
  margin-top: 16px;

}


.sb-navbar { background-color: white; border-bottom: 1px solid #eceeef; }
.sb-navbar .navbar-toggler { font-size: 12px; text-transform: uppercase; padding: 13px; font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif; font-weight: 700; }
.sb-navbar .navbar-toggler i { margin-right: 2px; font-size: 10px; }
.sb-navbar .navbar-brand { color: rgba(0, 0, 0, 0.5); font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif; font-weight: 700; }
.sb-navbar .navbar-right li a:focus { outline: none; }